# 凭证
.env
.env.*
cookies*

# 音频与其他目录
Music/
etc/

# 虚拟环境
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDE configs
.idea/
.vscode/
*.swp

# 备份文件
*.BACKUP
*.COPY
backup*.py
*copy*.py

# 其他文件
run.sh
database.py