# 凭证
.env
.env.*
!.env.example
cookies*

# 音频与其他目录
Music/
#此为CS2 科隆Major彩蛋图片，可选
#etc/

# 虚拟环境
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDE configs
.idea/
.vscode/
*.swp

# 备份文件
*.BACKUP
*.COPY
backup*.py
*copy*.py

# 打包文件
*.tar
*.tar.gz

# 其他文件
.DS_Store